version: "3"
services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    depends_on:
      - db
    container_name: backend
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    container_name: frontend
  db:
    image: mongo
    ports:
      - "27017:27017"
    container_name: edufund
